.login.text_field.si-input-bx
  %label.login-label Login
  = text_field_tag 'login', @login, :class => 'focus login-input', :tabindex => 200
.password.text_field.si-input-bx
  %span="Password"
  = password_field_tag 'password', nil, :tabindex => 201, :class => 'focus login-input'

